@import 'colors';

.container
    height: 100vh
    width: 100%
    display: flex
    align-items: center
    justify-content: center


.container--lightView
    background-color: $light-blue

.container--darkView
    background-color: $dark-blue

.flexContainer--lightView
    background-color: $dark-blue
    color: $light-red

.img--BigUser--container
    width: 250px
    height: 350px
    overflow: hidden
    border-radius: 10px
    border: 1px solid black

.img--BigUser
    height: 100%
    width: 100%
    object-fit: cover

.boxes
    display: flex
    justify-content: space-between
    width: 100%
    font-family: 'roboto'

.box
    width: 100%
    min-height: 80vh


.box__rightBorder
    border-right: 1px solid black