@import 'colors';

.container
    height: 100vh
    width: 100%
    display: flex
    align-items: center
    justify-content: center


.container--lightView
    background-color: $light-blue

.container--darkView
    background-color: $dark-blue

.flexContainer--lightView
    background-color: $dark-blue
    color: $light-red

.img--BigUser--container
    width: 300px
    height: 400px
    overflow: hidden
    border-radius: 10px
    border: 1px solid black

.img--BigUser
    height: 100%
    width: 100%
    object-fit: cover